AD_list_all.yaml
id: AD_list_all
namespace: foo
description: Fetches all data gettable from the AD

tasks:

  - id: fetch
    type: io.kestra.plugin.ldap.Search
    userDn: cn=read-only-admin,dc=example,dc=com
    password: password
    baseDn: dc=example,dc=com
    hostname: ldap.forumsys.com
    port: "389"

  - id: save
    type: io.kestra.plugin.scripts.python.Script
    outputFiles:
      - "out.txt"
    script: |
      import os

      print("Reading")
      with open('{{ outputs.fetch.uri }}', 'r') as f:
        fetch_data = f.read()
        
      print("Writing")
      with open("out.txt", "w") as f:
        f.write("Fetched information from AD:\n")
        f.write(fetch_data)